<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    add context configuration !-->
    <context-param>
        <param-name>password</param-name>
        <param-value>this is password !</param-value>
    </context-param>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>lk.ijse.HelloServlet.HelloServlet</servlet-class>
<!--        add servlet config obj value and name-->
        <init-param>
            <param-name>city</param-name>
            <param-value>Matara</param-value>
        </init-param>

        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>

        <init-param>
            <param-name>password</param-name>
            <param-value>80221474</param-value>
        </init-param>

        <init-param>
            <param-name>URL</param-name>
            <param-value>mysql:jdbc://localhost:3306/thogakade</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletTwo</servlet-name>
        <servlet-class>lk.ijse.HelloServlet.ServletTwo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletTwo</servlet-name>
        <url-pattern>/two</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TherdServlet</servlet-name>
        <servlet-class>lk.ijse.HelloServlet.ThreadServe</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TherdServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>